.icons i {
    display: inline-block;
    height: 48px;
    line-height: 48px;
}

a {
    text-decoration: none;
}

header {
    background: #f2f1fc url(/src/assets/img/background/rou-background-1.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 128px;
    /* height: 1000px; */
}

.navbar-brand {
    display: block;
    max-width: 88px;
    max-height: 48px;
    width: auto;
    height: auto;
}

.btn-outline-success:hover {
    background-color: #c04ae2;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 3px #B0B3B2;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-youtube {
    color: #ff1e00;
}

.fa-instagram {
    color: #e0756c;
}

.dropdown-menu {
    background-color: #EDDBED;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px #EDE0E3;
    /* max-width: 300px; */
}

.dropdown-menu a:hover {
    background-color: #E6EAF9;
}

.content {
    background: url(/src/assets/img/background/rou-bg-2.png) no-repeat center center;
    background-size: cover;
}

.content .intro .sm-title {
    color: #c456e4;
    font-weight: 600;
}

.content .intro .item-1 {
    border: 6px solid #fcd7df;
    border-radius: 10px;
    color: #111;
}

.content .intro .icon {
    font-size: 48px;
}

.content .intro .item-1 .icon {
    color: #fe6686;
}

.content .intro .item-2 {
    border: 6px solid #c9f3e2;
    border-radius: 10px;
    color: #111;
}

.content .intro .item-2 .icon {
    color: #54d6a1;
}

.content .intro .item-3 {
    border: 6px solid #f2d5ba;
    border-radius: 10px;
}

.content .intro .item-3 .icon {
    color: #fe9a3f;
}

.content .intro .info-product {
    color: #5e5859;
}

.content .intro .creative-team {
    margin-top: 64px;
}

.content .intro .creative-team p {
    color: #5e5858;
}

.content .intro .creative-team button {
    background-color: #c04ae2;
    color: #fff;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.content .intro .creative-team button:hover {
    background-color: #8a848b;
}

.content .intro .service .product {
    background-color: #fffcfa;
    box-shadow: 1px 0px 10px rgba(198, 208, 228, 0.7);
    border-radius: 10px;
}

.content .intro .service .product .product-info {
    color: #616362;
}

.three-div {
    background-image: url(/src/assets/img/background/rou-back-ground-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*  */

#portfolio .project-item-1 .dev-sm-title {
    color: #fe6687;
}

#portfolio .project-item-2 .dev-sm-title {
    color: #54d6a1;
}

#portfolio .project-item-3 .dev-sm-title {
    color: #fe9a3f;
}

#portfolio .dev-info {
    color: #5e5858;
}